.bookcontent{
    width: 100%;
    height: calc(100% - 50px);
    background: white;
}

.btn1{
    height: 30px;
    width: 100px;
    background: red;
    color:white;
    cursor: pointer;
    border: 8px;
    border-radius: 8px;
    text-align: center;
    line-height: 25px;
}

.btn1:hover{
    background: orange;
}

.table-container{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.row{
    display: flex;

}

.column{
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
}