.cpcontent{
    width: 450px;
    height: 250px;
    border: 1px solid silver;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.button{
    height: 30px;
    background: dodgerblue;
    color: white;
    cursor: pointer;
    border: none;
}

.button:hover{
    background: blue;
}